
/* BEGIN PARALLAX STYLES */

:root {
  --bg-z-depth: 100;
  --bg-perspective: 100;
}

html, body {
  padding: 0px;
  margin: 0px;
}

html {
  overflow: hidden;
}

body {
  /* these calculate the settings needed based on other variables */
  /* they need to be done *here* because this is the first place that they are used */
  --bg-translate-z: calc(-1px * var(--bg-z-depth));
  --bg-perspective-px: calc(1px * var(--bg-perspective));
  --bg-scale: calc(calc(var(--bg-z-depth) + var(--bg-perspective)) / var(--bg-perspective));
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: var(--bg-perspective-px);
  perspective-origin: center top;
  transform-origin: center top;
  transform-style: preserve-3d;
  color: white;
  background-color: black;
}

a {
  color: lightskyblue;
}

a:visited {
  color: lightseagreen
}

.parallax {
  width: 100%;
  height: fit-content;
  position: relative;
  transform-style: inherit;
  --img-height: 2994;
  --img-width: 2385;
  --img-height-px: calc(1px * var(--img-height));
  --img-width-px: calc(1px * var(--img-width));
  --img-aspect-hw: calc(var(--img-height) / var(--img-width));
}

#iceberg > .title-container {
  width: 100%;
  height: 440px; /* it's approx. 440 px from the top of the image to the top of the berg itself */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container h1 {
  text-shadow: 0px 0px 5px black;
}

/* The actual image */
.parallax:before {
  background-image: url("iceberg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  perspective-origin: center top;
  transform-origin: center top;
  position: absolute;
  height: calc(100% / var(--bg-scale));
  min-height: 100vh;
  top: 0px;
  left: -1vw; /* these have these values to prevent small black bars on the side */
  right: -1vw;
  bottom: 0px;
  z-index: -2;
  content: "";
  transform: translateZ(var(--bg-translate-z)) scale(var(--bg-scale));
}

/* The continuation gradient */
.parallax:after {
  background: linear-gradient(to bottom, #01012a, black);
  position: absolute;
  perspective-origin: center top;
  transform-origin: center 0px;
  top: min(100%, calc(120vw * var(--img-aspect-hw)));
  left: -1vw;
  right: -1vw;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(var(--bg-translate-z)) scale(var(--bg-scale));
}

/* END PARALLAX STYLES */

div.section-label {
  height: 100%;
}

img.section-image {
  width: 15vw;
  height: auto;
}

ice-theory ol, ice-theory ul {
  padding-inline-start: 40px;
  margin-right: 30px; /* approx what the user agent gives me */
}

ice-theory {
  grid-column: span 6;
}
ice-theory:nth-of-type(2n) {
  grid-column: span 2;
}
ice-theory:nth-of-type(3n) {
  grid-column: span 4;
}
ice-theory:nth-of-type(5n) {
  grid-column: span 3;
}
ice-theory:nth-of-type(7n) {
  grid-column: span 5;
}
ice-theory:nth-of-type(11n) {
  grid-column: span 4;
}