
/* BEGIN PARALLAX STYLES */

html, body {
  padding: 0px;
  margin: 0px;

}

html {
  overflow: hidden;

  --img-height: 2994px;
}

body {
  /*width: 100vw;*/
  /*min-*/height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: center top;
  transform-origin: center top;
  transform-style: preserve-3d;

  color: white;
  background-color: black;
}

.parallax {
  width: 100%;
  min-height: 100vh;
  /*height: 100vh;*/
  position: relative;
  transform-style: inherit;
}

/* The actual image */
#iceberg:before {
  background-image: url("iceberg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  perspective-origin: center top;
  transform-origin: center top;
  position: absolute;
  min-height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50%;
  z-index: -2;
  content: "";
  transform: translateZ(-1px) translateX(-10px) scale(2);
}

/* The continuation gradient */
#iceberg:after {
  background: linear-gradient(to bottom, #01012a, black);
  position: absolute;
  perspective-origin: center top;
  transform-origin: center calc(-1 * var(--img-height));
  top: var(--img-height);
  left: 0px;
  right: 0px;
  bottom: 50%;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) translateX(-10px) scale(2);
}

/* END PARALLAX STYLES */

/* BEGIN SECTION STYLES */

#iceberg > section {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

#iceberg > section > .section-label {
  float: right;
}

.theory-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* BEGIN DETAILS STYLES */

details > summary {
  display: inline-block;
  border: solid 2px black;
  border-radius: 4px;
  margin: 4px;
  padding: 2px 4px;
  background-color: #303030;
  font-family: monospace;
}

details > p {
  position: absolute;
  max-width: 60em;
  border: solid 2px black;
  border-radius: 4px;
  margin: 4px;
  margin-top: 0px;
  padding: 2px 4px;
  background-color: #303030;
  transform: translateY(-6px);
}

/* END DETAILS STYLES */

/* END SECTION STYLES */